
.clock
    width: 140px;
    height: 140px;

    @media screen and (max-width: 632px)
      width: 120px
      height: 120px

    margin: 0 auto
    position: relative;
    border: 6px solid rgba(0, 0, 0, 0.17);
    border-radius: 50%;
    background-size: 240px 240px;
    background-repeat: no-repeat;

    .face {
      width: 100%;
      height: 100%;
    }

    // .face:after {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   width: 12px;
    //   height: 12px;
    //   margin: -6px 0 0 -6px;
    //   background: #000;
    //   border-radius: 6px;
    //   content: "";
    //   display: block;
    // }


    .hour {
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -2px 0 -2px -25%;
      padding: 2px 0 2px 25%;
      background: rgba(0, 0, 0, 0.3);
      transform-origin: 100% 50%;
    }

    .minute {
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -40% -1px 0;
      padding: 40% 1px 0;
      background: rgba(0, 0, 0, 0.3);
      transform-origin: 50% 100%;
    }

    .second {
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -40% -.5px 0 0;
      padding: 40% .5px 0;
      background: rgba(212, 0, 0, 0.35);
      transform-origin: 50% 100%;
    }
