
.daily-actions

    width: 500px
    margin: 0 auto

    @media screen and (max-width: 632px)
        width: 300px

    .new-action-container
        width: 100%
        text-align: center
        .new-action
            width: 90%
            background: rgba(0, 0, 0, 0.17);
            border: none;
            color: #fff
            height: 30px;
            border-radius: 3px;
            font-size: 16px

            +placeholder()
                color: #ddd
                font-size: inherit

    .done-items-list-container
        width: 90%
        margin: 0 auto
        border-radius: 3px

        &> li
            list-style-type: none


    .clock
        margin-bottom: 10px

    .settings
        color: #fff
        margin: 10px auto
        text-align: center

        & > div
            display: inline-block
            margin-right: 5px

        input
            margin-right: 5px
