
.done-item
    color: rgba(255, 255, 255, 0.9)
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    text-align: center

    & > *, .edit-item, .delete-item
        display: inline-block
        vertical-align: middle

    input
        background: none
        border: 1px solid transparent

    input.invalid
        border-color: red

    .time-diff
        width: 100px
        text-align: right


    .item-time
        font-weight: bold
        max-width: 85px
        text-align: right
        margin-right: 20px

    .item-what
        font-weight: bold
        width: 53%
        max-width: 295px

    .item-edit-form

        input
            background: rgba(0, 0, 0, 0.05)
            color: inherit

        .time-input
            width: 70px
            margin-right: 10px

        .what-input
            width: 200px


    .overlay
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.40)
