
{% load i18n %}

<h2>{{ g.name }}</h2>
<table rules="all" cellpadding="7">
{% with g.table as table %}
  <thead>
    <tr>
      <th></th>
      {% for player in table.players %}
        <th>{{ player.full_name }}</th>
      {% endfor %}
      <th>{% trans "Points" %}</th>
      <th>{% trans "Sets" %}</th>
      <th>{% trans "Balls" %}</th>
      <th>{% trans "Place" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for row in table %}
    <tr>
      <td><b>{{ row.player1.full_name }}</b></td>
      {% for cell in row %}
        {% if cell.score %}
          <td>
            {{ cell.score.score }}
            {% if not cell.is_approved %}
            <a href="{{ approve_base_url }}/{% url 'app-approve-set-result' cell.set_result.pk %}">APPROVE</a>
            {% endif %}
          </td>
        {% elif cell.is_filler %}
          <td>x</td>
        {% elif cell.is_current_user %}
          <td>
            <a href="{% url 'app-add-set-result' tournament.pk g.pk cell.player1.pk cell.player2.pk %}">ADD</a>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      {% endfor %}
      <td>{{ row.points }}</td>
      <td>{{ row.sets }}</td>
      <td>{{ row.balls }}</td>
      <td>{{ row.place }}</td>
    </tr>
  {% endfor %}
{% endwith %}
</tbody>
</table>
