
{% load i18n %}

<style>
.score-cell .score {
    margin: 0;
}
.score-cell .balls {
    font-size: 10px;
    color: #ccc;
    margin: 0;
}
</style>
<h2>Group {{ g.name }}</h2>
<table rules="all" cellpadding="7">
{% with g.table as table %}
  <thead>
    <tr>
      <th></th>
      {% for player in table.players %}
        <th>{{ player.full_name }}</th>
      {% endfor %}
      <th>{% trans "Points" %}</th>
      <th>{% trans "Sets" %}</th>
      <th>{% trans "Balls" %}</th>
      <th>{% trans "Place" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for row in table %}
    <tr>
      <td><b>{{ row.player1.full_name }}</b></td>
      {% for cell in row %}
        {% if cell.score %}
          <td class="score-cell">
            <p class="score">
            {{ cell.score.score }}
            </p>
            <p class="balls">
            {{ cell.score.balls }}
            </p>
            {% if not cell.is_approved and cell.can_add_approve %}
            <a href="{{ approve_base_url }}/{% url 'app-approve-set-result' cell.set_result.pk %}">APPROVE</a>
            {% endif %}
          </td>
        {% elif cell.is_filler %}
          <td>x</td>
        {% elif cell.can_add_approve %}
          <td>
            <a href="{% url 'app-add-set-result' g.pk cell.player1.pk cell.player2.pk %}">ADD</a>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      {% endfor %}
      <td>{{ row.points }}</td>
      <td>{{ row.sets }}</td>
      <td>{{ row.balls }}</td>
      <td>{{ row.place }}</td>
    </tr>
  {% endfor %}
{% endwith %}
</tbody>
</table>
