{% extends "base.html" %}

{% block content %}
    <div>
        <b>Tournaments</b> | <a href="{% url 'rating-list' %}">Ratings</a>
    </div>

    <h1>TOURNAMENTS</h1>

    <ul>
    {% for t in joined_tournaments %}
      {% if forloop.first %}
          <h1>Your tournaments</h1>
      {% endif %}
      <li>
        <a href="{% url 'app-tournament' t.id %}">{{ t.name }}</a>
      </li>
    {% endfor %}
    {% for t in available_tournaments %}
      {% if forloop.first %}
          <h1>Available tournaments</h1>
      {% endif %}
      <li>
        <a href="{% url 'app-tournament' t.id %}">{{ t.name }}</a>
        <a href="{% url 'app-join-tournament' t.id %}">Join!</a>
      </li>
    {% endfor %}
    </ul>
{% endblock %}
