
h1, h2, h3 {
  font-family: 'Cabin Sketch', cursive;
  margin: 20px 0;
}
ul {
  padding-left: 0;
}
ul li {
  margin-left: 40px;
}
body {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
table {
  margin: 20px;
  border: #ccc 1px solid;
  text-align: center;
}
table tr td:first-child {
  text-align: left;
}
.user {
  margin-bottom: 20px;
  float: right;
}
.centered-text {
  text-align: center;
}
blockquote {
  quotes: "\201C" "\201D";
  font-style: italic;
  margin: 0 0 5px 0;
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
.quote-author {
  font-weight: bold;
  color: #444;
}
.quote-comment::before {
  content: ' | ';
}
.quote {
  float: left;
}
.quote p {
  font-size: 14px;
  margin: 0;
}
.content {
  clear: both;
  padding-top: 5px;
}
