{% extends "base.html" %}

{% block content %}

    <h1>Tournament: {{ tournament.name }}</h1>
    {% if not tournament.stages.count %}
      <h1>Your Actions ({{ actions | length }})</h1>
      <ul>
      {% for a in actions %}
        <li>
          {{ a.type }}: {{ a.player }}
        </li>
      {% endfor %}
      </ul>
      <h1>Participants ({{ tournament.participants.all | length }})</h1>
      <ul>
      {% for p in tournament.participants.all %}
        <li>
          {{ p.full_name }}
        </li>
      {% endfor %}
      </ul>
    {% else %}
      {% for stage in stages %}
        <h1>Stage {{ stage.name }}</h1>
        {% for g in stage.vgroups %}
            {% include "group.html" with g=g %}
        {% endfor %}
      {% endfor %}
    {% endif %}
{% endblock %}
